/* COLORS */
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

.heading-exaggerated {
  text-transform: uppercase;
  font-size: 20vw;
  color: rgba(216, 216, 216, 0.25);
  line-height: 1;
}

.heading-huge {
  text-transform: uppercase;
  font-size: 15rem;
  font-weight: 100;
}

.heading-2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 4.5rem;
  line-height: 1;
}

.heading-3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.6rem;
}

/* TEXT */
.u-text-700 {
  font-weight: 700;
}

.u-color-blue {
  color: #0023ff;
}

/* HOMEPAGE SLIDER DOTS */
.slider-dots {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.slider-dots:not(.slider-dots--active) {
  border: 3px solid #D9D9D9;
}

.slider-dots:not(.slider-dots--active):hover {
  border-color: #0023ff;
}

.slider-dots--active {
  background-color: #0023ff;
}

/* LEFT SIDEBAR RADIOBUTTONS */
.main-radio {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

/* PRODUCTS SMALL CATEGORY TITLE */
.category {
  width: 14.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category__title {
  text-transform: uppercase;
  color: #C1C1C1;
  font-size: 1.3rem;
  font-weight: 700;
}

.category__icon {
  width: 4rem;
  height: 4rem;
}

.link-to-item,
.link-to-item:link,
.link-to-item:visited {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  outline: none;
  color: inherit;
}

.icon {
  display: block;
  width: 2rem;
  height: 2rem;
  fill: #D8D8D8;
  cursor: pointer;
  -webkit-transition: fill .5s;
  transition: fill .5s;
}

.icon:not(.icon--pink):hover {
  fill: #0023ff;
}

.icon--pink {
  fill: #FE557B;
}

.icon--blue {
  fill: #0023ff;
}

.btn {
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 50px;
  -webkit-transition: background-color .25s, color .2s, -webkit-box-shadow .3s;
  transition: background-color .25s, color .2s, -webkit-box-shadow .3s;
  transition: background-color .25s, color .2s, box-shadow .3s;
  transition: background-color .25s, color .2s, box-shadow .3s, -webkit-box-shadow .3s;
}

.btn--primary {
  background-color: #0023ff;
}

.btn--primary:hover {
  background-color: #fff;
  color: #0023ff;
  -webkit-box-shadow: 0 1.1rem 5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1.1rem 5rem rgba(0, 0, 0, 0.1);
}

.navigation {
  background-color: #fff;
  width: 0;
  height: 100vh;
  position: fixed;
  right: 0;
  z-index: 100;
  -webkit-box-shadow: 1rem 0 5rem rgba(0, 0, 0, 0.2);
          box-shadow: 1rem 0 5rem rgba(0, 0, 0, 0.2);
  -webkit-transition: width .4s .1s ease-in-out;
  transition: width .4s .1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  /* CHECKBOX HACK SECTION */
  /* INTERNAL STYLING */
}

.navigation__content {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .1s;
  transition: all .1s;
  width: 100%;
  height: 70%;
  margin-bottom: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-height: 28.125em) and (max-width: 37.5em) {
  .navigation__content {
    margin-bottom: 10%;
  }
}

.navigation__checkbox {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

.navigation__label {
  position: fixed;
  top: 8%;
  right: 2%;
  z-index: 3000;
  cursor: pointer;
}

.navigation__label--sidebar {
  position: relative;
  top: auto;
  right: auto;
}

@media only screen and (max-width: 37.5em) {
  .navigation__label:not(.navigation__label--sidebar) {
    display: none;
  }
}

@media only screen and (max-height: 28.125em) {
  .navigation__label {
    top: 3%;
    right: 3%;
  }
}

.navigation__button {
  background-color: #fff;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  -webkit-box-shadow: 0 0rem 5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0rem 5rem rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 37.5em) {
  .navigation__button {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    height: 8vh;
    width: 1.2rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-height: 28.125em) {
  .navigation__button {
    width: 3rem;
    height: 3rem;
  }
}

.navigation__line {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 47.5%;
  width: 1.2rem;
  height: 5%;
  background-color: #0023ff;
  border-radius: 5px;
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
}

@media only screen and (max-height: 28.125em) {
  .navigation__line {
    height: 2px;
  }
}

.navigation__line::before, .navigation__line::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #0023ff;
  position: absolute;
  border-radius: 5px;
}

.navigation__line::before {
  bottom: 5px;
  -webkit-transition: top .1s .1s, opacity 0s .1s;
  transition: top .1s .1s, opacity 0s .1s;
}

.navigation__line::after {
  top: 5px;
  -webkit-transition: top .1s .1s, -webkit-transform .1s;
  transition: top .1s .1s, -webkit-transform .1s;
  transition: transform .1s, top .1s .1s;
  transition: transform .1s, top .1s .1s, -webkit-transform .1s;
}

@media only screen and (max-width: 37.5em) {
  .navigation__line {
    height: 2px;
  }
}

.navigation__checkbox:checked + .navigation__label + .navigation {
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}

.navigation__checkbox:checked + .navigation__label .navigation__line {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform .15s .15s;
  transition: -webkit-transform .15s .15s;
  transition: transform .15s .15s;
  transition: transform .15s .15s, -webkit-transform .15s .15s;
}

.navigation__checkbox:checked + .navigation__label .navigation__line::before, .navigation__checkbox:checked + .navigation__label .navigation__line::after {
  top: 0;
  -webkit-transition: top .15s, -webkit-transform .15s .15s;
  transition: top .15s, -webkit-transform .15s .15s;
  transition: top .15s, transform .15s .15s;
  transition: top .15s, transform .15s .15s, -webkit-transform .15s .15s;
}

.navigation__checkbox:checked + .navigation__label .navigation__line::before {
  opacity: 0;
}

.navigation__checkbox:checked + .navigation__label .navigation__line::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.navigation__checkbox:checked ~ .navigation {
  width: 25rem;
}

@media only screen and (max-width: 37.5em) {
  .navigation__checkbox:checked ~ .navigation {
    width: 100vw;
  }
}

.navigation__checkbox:checked ~ .navigation > .navigation__content {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s .4s;
  transition: all .3s .4s;
}

.navigation__showmore, .navigation__showmore:link, .navigation__showmore:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #0023ff;
  position: relative;
  font-size: 1.4rem;
  font-weight: 700;
}

@media only screen and (max-height: 28.125em) {
  .navigation__showmore, .navigation__showmore:link, .navigation__showmore:visited {
    font-size: 3vh;
  }
}

.navigation__showmore::after, .navigation__showmore:link::after, .navigation__showmore:visited::after {
  content: "";
  display: block;
  height: 2px;
  width: 70%;
  position: absolute;
  bottom: -1rem;
  left: 15%;
  background-color: #0023ff;
}

.navigation__showmore:hover::after, .navigation__showmore:link:hover::after, .navigation__showmore:visited:hover::after {
  width: 100%;
  left: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@media only screen and (max-width: 37.5em) {
  .navigation__showmore, .navigation__showmore:link, .navigation__showmore:visited {
    font-size: 5vw;
  }
}

.navigation__categories {
  list-style: none;
  width: 80%;
}

.navigation__element {
  margin: 2rem 0;
}

@media only screen and (max-height: 28.125em) {
  .navigation__element {
    margin: 1rem 0;
  }
}

.navigation__link, .navigation__link:link, .navigation__link:visited {
  text-decoration: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.navigation__link:hover span, .navigation__link:link:hover span, .navigation__link:visited:hover span {
  color: #8e8e8e;
}

.navigation__link:hover svg, .navigation__link:link:hover svg, .navigation__link:visited:hover svg {
  fill: #8e8e8e;
}

.navigation__link-text {
  display: block;
  width: 60%;
  text-align: right;
  text-transform: uppercase;
  color: #C1C1C1;
  font-weight: 700;
  font-size: 1.5rem;
  -webkit-transition: color .3s;
  transition: color .3s;
}

@media only screen and (max-width: 37.5em) {
  .navigation__link-text {
    font-size: 6vw;
  }
}

@media only screen and (max-height: 28.125em) {
  .navigation__link-text {
    font-size: 3vh;
  }
}

.navigation__link-icon {
  width: 5rem;
  height: 5rem;
  fill: #C1C1C1;
  -webkit-transition: fill .3s;
  transition: fill .3s;
}

@media only screen and (max-height: 28.125em) {
  .navigation__link-icon {
    width: 10vh;
    height: 10vh;
  }
}

.product {
  background-color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product--vertical {
  -ms-grid-rows: 3fr 2fr;
      grid-template-rows: 3fr 2fr;
}

@media only screen and (max-width: 37.5em) {
  .product--vertical {
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

@media only screen and (min-width: 20.5625em) and (max-width: 37.5em) {
  .product--vertical .product__text {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.product--horizontal {
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
}

@media only screen and (max-width: 37.5em) {
  .product--horizontal {
    -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

@media only screen and (max-width: 20.5625em) {
  .product--normal .product__text {
    position: relative;
    bottom: 4rem;
  }
}

.product--big .product__text {
  -ms-grid-column-align: start;
      justify-self: start;
}

@media only screen and (max-width: 37.5em) {
  .product--big .product__text {
    -ms-grid-column-align: auto;
        justify-self: auto;
  }
}

@media only screen and (max-width: 20.5625em) {
  .product--big .product__text {
    position: relative;
    bottom: 4rem;
  }
}

.product--big .product__title {
  font-size: 3rem;
}

@media only screen and (min-width: 37.5625em) and (max-width: 66.25em) {
  .product--big .product__title {
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 37.5em) {
  .product--big .product__title {
    font-size: 7vw;
    line-height: 1.5;
  }
}

.product--big .product__subtitle {
  font-size: 2rem;
}

@media only screen and (min-width: 37.5625em) and (max-width: 66.25em) {
  .product--big .product__subtitle {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 37.5em) {
  .product--big .product__subtitle {
    font-size: 4vw;
    line-height: 1.2;
  }
}

.product--big .product__price {
  font-size: 1.8rem;
}

@media only screen and (min-width: 37.5625em) and (max-width: 66.25em) {
  .product--big .product__price {
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 37.5em) {
  .product--big .product__price {
    font-size: 3vw;
    line-height: 1.2;
  }
}

.product__img {
  max-width: 100%;
  max-height: 100%;
}

.product__text {
  max-width: 100%;
  max-height: 100%;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 37.5em) {
  .product__text {
    max-height: none;
    padding: 2rem;
  }
}

.product__title {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1;
}

@media only screen and (min-width: 37.5625em) and (max-width: 66.25em) {
  .product__title {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 37.5em) {
  .product__title {
    font-size: 7vw;
    line-height: 1.5;
  }
}

.product__subtitle {
  color: #C1C1C1;
  font-size: 1.5rem;
  line-height: 1;
}

@media only screen and (min-width: 37.5625em) and (max-width: 66.25em) {
  .product__subtitle {
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 37.5em) {
  .product__subtitle {
    font-size: 4vw;
    line-height: 1.2;
  }
}

.product__price {
  color: #0023ff;
  font-weight: 700;
  margin-top: 5px;
  line-height: 1;
}

@media only screen and (min-width: 37.5625em) and (max-width: 66.25em) {
  .product__price {
    font-size: 1.2vw;
  }
}

@media only screen and (max-width: 37.5em) {
  .product__price {
    font-size: 3vw;
    line-height: 1.2;
  }
}

.search__textbox {
  height: 80%;
  width: 90%;
  outline: none;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 7rem;
  font-weight: 300;
  color: #000;
  border-bottom: 2px solid rgba(193, 193, 193, 0.6);
}

@media only screen and (max-width: 24em) {
  .search__textbox {
    font-size: 15vw;
  }
}

@media only screen and (max-width: 37.5em) {
  .search__textbox {
    width: 100%;
  }
}

.search__close-btn {
  position: absolute;
  width: 2.5rem;
  height: 2px;
  background-color: rgba(193, 193, 193, 0.6);
  right: 10%;
  top: 18%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}

.search__close-btn::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(193, 193, 193, 0.6);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  cursor: pointer;
}

@media only screen and (max-width: 75em) {
  .search__close-btn {
    top: 15%;
  }
}

@media only screen and (max-width: 56.25em) {
  .search__close-btn {
    top: 13%;
  }
}

@media only screen and (max-width: 37.5em) {
  .search__close-btn {
    right: 0%;
  }
}

.search__description {
  display: block;
  font-size: 2rem;
  color: rgba(193, 193, 193, 0.6);
}

.search__single-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  /* 
        &:not(:first-child) {
            margin-left: 6rem;
        } */
}

.search__img {
  max-height: 10rem;
}

.search__result-name {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 4rem;
  margin-left: 1rem;
}

@media only screen and (max-width: 44.0625em) {
  .search__result-name {
    font-size: 5vw;
  }
}

.sidebar {
  position: relative;
  z-index: 3;
  height: 100%;
  -webkit-box-shadow: 0.1rem 0 5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.1rem 0 5rem rgba(0, 0, 0, 0.1);
  /* Flexbox Settings */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__logo-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  margin-top: 15%;
}

.sidebar__logo {
  width: 3rem;
}

.sidebar__buttons-group {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sidebar__bottom {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sidebar__bottom svg {
  margin-bottom: 350%;
}

@media only screen and (min-width: 37.5em) {
  .sidebar__icon--center {
    display: none;
  }
}

@media only screen and (max-width: 37.5em) {
  .sidebar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sidebar__logo-box {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    margin-top: 0;
    margin-left: 2rem;
  }
  .sidebar__buttons-group {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .sidebar__bottom {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sidebar__bottom svg {
    display: none;
  }
}

@media only screen and (min-width: 37.5em) {
  .sidebar .navigation__label {
    display: none;
  }
}

.main-radio--home:checked ~ .sidebar-container [for="home-radio"] svg {
  fill: #0023ff;
}

.main-radio--products:checked ~ .sidebar-container [for="products-radio"] svg {
  fill: #0023ff;
}

.main-radio--search:checked ~ .sidebar-container [for="search-radio"] svg {
  fill: #0023ff;
}

.home {
  position: relative;
  height: 100%;
  background-image: url(/img/main-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.home__bg-heading {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 5%;
  left: 5%;
}

.home__content-box {
  padding-top: 5%;
  position: relative;
  z-index: 1;
  text-align: center;
  line-height: 1;
}

@media only screen and (max-width: 21.875em) {
  .home__content-box h1 {
    font-size: 10rem;
  }
}

.home__content-box h2 {
  margin: 2rem 0;
}

.home__content-box .btn {
  position: relative;
  top: 1.5rem;
}

.home__slider-box {
  width: 15rem;
  position: absolute;
  bottom: 5%;
  right: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products {
  background-color: #F0F0F0;
  overflow-y: scroll;
  /* GENERAL */
  /* TOP */
  /* CENTER */
  /* BOTTOM */
}

.products__container {
  width: 75%;
  height: 85%;
  margin: 5% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 37.5em) {
  .products__container {
    width: 97%;
    height: auto;
    margin: 5% auto;
    min-height: 100vh;
  }
}

@media only screen and (min-width: 37.5625em) and (max-width: 66.25em) {
  .products__container {
    width: 90%;
    margin: 10% 2.5%;
  }
}

.products__top {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products__category {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18rem;
          flex: 0 0 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products__category-title {
  text-transform: uppercase;
  color: #C1C1C1;
  font-size: 1.6rem;
}

.products__category-icon {
  width: 5rem;
  height: 5rem;
  fill: #C1C1C1;
}

@media only screen and (max-width: 21.4375em) {
  .products__category {
    margin-top: 2rem;
  }
}

.products__items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5% 0;
  /* CSS GRID SETTINGS */
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: (18vw)[2];
      grid-template-rows: repeat(2, 18vw);
  grid-gap: 1.5vw;
}

@media only screen and (max-width: 37.5em) {
  .products__items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (minmax(60vh, min-content))[5];
        grid-template-rows: repeat(5, minmax(60vh, -webkit-min-content));
        grid-template-rows: repeat(5, minmax(60vh, min-content));
    grid-gap: 4rem;
  }
}

@media only screen and (min-width: 37.5625em) and (max-width: 66.25em) {
  .products__items {
    -ms-grid-rows: (30vw)[2];
        grid-template-rows: repeat(2, 30vw);
  }
}

.products__item--big {
  grid-column: span 2;
}

@media only screen and (max-width: 37.5em) {
  .products__item--big {
    grid-column: auto;
  }
}

.products__bottom {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  text-align: center;
}

.products__showmore, .products__showmore:link, .products__showmore:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #0023ff;
  font-weight: 700;
  font-size: 1.6rem;
}

.search {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__container {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 37.5em) {
  .search__container {
    height: 80%;
  }
}

@media only screen and (max-height: 37.5em) {
  .search__container {
    height: 90%;
  }
}

.search__main {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.search__results {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search__bottom {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5%;
          flex: 0 0 5%;
}

.item {
  overflow-y: scroll;
  background-color: #efefef;
  width: 100%;
  /* PHOTO ZONE STYLING */
  /* INFO AND TEXT ZONE STYLING */
  /* RECOMMENDED ARTICLES STYLING */
}

.item__grid {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 5fr 2fr;
      grid-template-rows: 5fr 2fr;
}

@media only screen and (max-width: 37.5em) {
  .item__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: minmax(28.6rem, 60vh) min-content min-content;
        grid-template-rows: minmax(28.6rem, 60vh) -webkit-min-content -webkit-min-content;
        grid-template-rows: minmax(28.6rem, 60vh) min-content min-content;
  }
}

@media only screen and (max-height: 31.25em) {
  .item__grid {
    -ms-grid-rows: 3fr 1fr;
        grid-template-rows: 3fr 1fr;
  }
}

@media only screen and (max-width: 75em) and (min-height: 50em) {
  .item__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-template: minmax(28.6rem, 60vh) -webkit-min-content -webkit-min-content;
    grid-template: minmax(28.6rem, 60vh) min-content min-content;
  }
}

.item__picture {
  position: relative;
  z-index: 2;
  background-color: #fff;
  grid-row: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1rem;
  -webkit-box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 37.5em) {
  .item__picture {
    grid-row: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 75em) and (min-height: 50em) {
  .item__picture {
    grid-row: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.item__picture-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 10%;
}

.item__picture-likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__picture-likes-count {
  font-size: 2rem;
  font-weight: 300;
  margin-right: 1rem;
}

.item__picture-img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 37.5em) {
  .item__picture-img {
    height: 80%;
  }
}

.item__picture-bottom {
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__picture-size-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__picture-size-icons svg:first-child {
  margin-right: 1rem;
}

.item__picture-geo-search-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__picture-geo-search-icons svg:first-child {
  margin-right: 1rem;
}

.item__info {
  background-color: #F0F0F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .item__info {
    min-height: 60vh;
  }
}

.item__info-content {
  width: calc((-0.0072727272727273 * 100vw) + 74.163636363636%);
  height: 80%;
  position: relative;
  right: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 37.5em) {
  .item__info-content {
    position: static;
    margin: 5% auto;
  }
}

.item__info-category .heading-2 {
  font-size: 3rem;
}

@media only screen and (max-width: 37.5em) {
  .item__info-category .heading-2 {
    font-size: 6.5vw;
  }
}

.item__info-category .products__category {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 13rem;
          flex: 0 0 13rem;
}

@media only screen and (max-width: 37.5em) {
  .item__info-category .products__category {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}

.item__info-category .products__category-title {
  font-size: 1.2rem;
}

@media only screen and (max-width: 37.5em) {
  .item__info-category .products__category-title {
    font-size: 3vw;
  }
}

.item__info-category .products__category-icon {
  width: 3.5rem;
  height: 3.5rem;
}

.item__info-text {
  margin-top: 8%;
}

.item__info-heading {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 300;
}

@media only screen and (max-width: 37.5em) {
  .item__info-heading {
    font-size: 7vw;
  }
}

.item__info-paragraph {
  margin-top: .5rem;
  color: #A6A6A6;
  font-size: 1.4rem;
  max-width: 70%;
}

@media only screen and (max-width: 56.25em) {
  .item__info-paragraph {
    max-width: none;
  }
}

@media only screen and (max-width: 37.5em) {
  .item__info-paragraph {
    font-size: 4vw;
  }
}

.item__info-shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 37.5em) {
  .item__info-shop {
    margin-top: 4rem;
  }
}

.item__info-cost-box {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item__info-cost {
  color: #0023ff;
  font-size: 3rem;
  font-weight: 700;
}

.item__info-small-title {
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.3rem;
}

@media only screen and (max-width: 37.5em) {
  .item__info-small-title {
    font-size: 2.5vw;
  }
}

.item__info-quantity-box {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item__info-quantity-input {
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 1rem;
  width: 5rem;
  border-radius: 35%;
}

.item__info-shop-right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item .btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media only screen and (max-width: 37.5em) {
  .item .btn {
    font-size: 4vw;
    margin-left: 1rem;
  }
}

.item__recommended {
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0.1rem -0.1rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0.1rem -0.1rem 1rem rgba(0, 0, 0, 0.15);
}

.item__recommended-title {
  text-transform: uppercase;
  font-size: 1.9vmin;
  line-height: 1;
  color: #D9D9D9;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.item__recommended-items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__recommended-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__recommended-product-img {
  max-height: 15vmin;
  -o-object-fit: contain;
     object-fit: contain;
}

.item__recommended-product-text {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.6rem;
}

@media only screen and (max-width: 37.5em) {
  .item__recommended-product-text {
    font-size: 2.6vmin;
  }
}

.item__recommended-description {
  font-size: 1.2rem;
  color: #C1C1C1;
}

@media only screen and (max-width: 37.5em) {
  .item__recommended-description {
    font-size: 2vmin;
  }
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 37.5em) {
  .main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sidebar-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.1%;
          flex: 0 0 6.1%;
  height: 100vh;
  min-height: 5.2rem;
  min-width: 6rem;
}

@media only screen and (max-width: 37.5em) {
  .sidebar-container {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    height: 8vh;
    min-width: none;
  }
}

.container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100vh;
}

@media only screen and (max-width: 37.5em) {
  .container {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    height: 92vh;
  }
}

section.home,
section.products {
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.home,
.products {
  -webkit-transition: opacity .4s, visibility .4s, -webkit-transform .4s;
  transition: opacity .4s, visibility .4s, -webkit-transform .4s;
  transition: opacity .4s, visibility .4s, transform .4s;
  transition: opacity .4s, visibility .4s, transform .4s, -webkit-transform .4s;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.search {
  -webkit-transform: scale(2);
          transform: scale(2);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.item {
  opacity: 0;
  visibility: hidden;
  height: 0;
}

@media only screen and (min-width: 37.5em) {
  .item__picture {
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
  }
  .item__info {
    opacity: 0;
    visibility: hidden;
  }
  .item__recommended {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  .item > .item__grid > * {
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .item:target > .item__grid > * {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    visibility: visible;
    opacity: 1;
  }
}

.item:target ~ section {
  visibility: hidden !important;
  opacity: 0 !important;
  height: 0 !important;
}

.item:target {
  height: 100%;
  visibility: visible;
  opacity: 1;
}

/* GENERAL NAVIGATION RADIOBUTTONS HACK */
.main-radio--home:checked ~ main .home,
.main-radio--products:checked ~ main .products {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  height: 100%;
}

.main-radio--home:active ~ main .home {
  -webkit-transition: opacity .4s, visibility .4s, -webkit-transform .4s;
  transition: opacity .4s, visibility .4s, -webkit-transform .4s;
  transition: opacity .4s, visibility .4s, transform .4s;
  transition: opacity .4s, visibility .4s, transform .4s, -webkit-transform .4s;
}

.main-radio--products:active ~ main .products {
  -webkit-transition: opacity .4s, visibility .4s, -webkit-transform .4s;
  transition: opacity .4s, visibility .4s, -webkit-transform .4s;
  transition: opacity .4s, visibility .4s, transform .4s;
  transition: opacity .4s, visibility .4s, transform .4s, -webkit-transform .4s;
}

.main-radio--search:checked ~ main .search {
  -webkit-transform: scale(1);
          transform: scale(1);
  visibility: visible;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */