/* COLORS */
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

.heading-exaggerated {
  text-transform: uppercase;
  font-size: 20vw;
  color: rgba(216, 216, 216, 0.25);
  line-height: 1;
}

.heading-huge {
  text-transform: uppercase;
  font-size: 15rem;
  font-weight: 100;
}

.heading-2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 4.5rem;
  line-height: 1;
}

.heading-3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.6rem;
}

/* HOMEPAGE SLIDER DOTS */
.slider-dots {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.slider-dots:not(.slider-dots--active) {
  border: 3px solid #D9D9D9;
}

.slider-dots:not(.slider-dots--active):hover {
  border-color: #0023ff;
}

.slider-dots--active {
  background-color: #0023ff;
}

/* LEFT SIDEBAR RADIOBUTTONS */
.main-radio {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

/* PRODUCTS SMALL CATEGORY TITLE */
.category {
  width: 14.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category__title {
  text-transform: uppercase;
  color: #C1C1C1;
  font-size: 1.3rem;
  font-weight: 700;
}

.category__icon {
  width: 4rem;
  height: 4rem;
}

.icon {
  display: block;
  width: 2rem;
  height: 2rem;
  fill: #D8D8D8;
  cursor: pointer;
  -webkit-transition: fill .5s;
  transition: fill .5s;
}

.icon:hover {
  fill: #0023ff;
}

.btn {
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 50px;
  -webkit-transition: background-color .25s, color .2s, -webkit-box-shadow .3s;
  transition: background-color .25s, color .2s, -webkit-box-shadow .3s;
  transition: background-color .25s, color .2s, box-shadow .3s;
  transition: background-color .25s, color .2s, box-shadow .3s, -webkit-box-shadow .3s;
}

.btn--primary {
  background-color: #0023ff;
}

.btn--primary:hover {
  background-color: #fff;
  color: #0023ff;
  -webkit-box-shadow: 0 1.1rem 5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1.1rem 5rem rgba(0, 0, 0, 0.1);
}

.navigation {
  background-color: #fff;
  width: 0;
  height: 100vh;
  position: fixed;
  right: 0;
  z-index: 100;
  -webkit-box-shadow: 1rem 0 5rem rgba(0, 0, 0, 0.2);
          box-shadow: 1rem 0 5rem rgba(0, 0, 0, 0.2);
  -webkit-transition: width .4s .1s ease-in-out;
  transition: width .4s .1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  /* CHECKBOX HACK SECTION */
  /* INTERNAL STYLING */
}

.navigation__content {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .1s;
  transition: all .1s;
  width: 100%;
  height: 70%;
  margin-bottom: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-height: 28.125em) and (max-width: 37.5em) {
  .navigation__content {
    margin-bottom: 10%;
  }
}

.navigation__checkbox {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

.navigation__label {
  position: fixed;
  top: 8%;
  right: 2%;
  z-index: 3000;
  cursor: pointer;
}

.navigation__label--sidebar {
  position: relative;
  top: auto;
  right: auto;
}

@media only screen and (max-width: 37.5em) {
  .navigation__label:not(.navigation__label--sidebar) {
    display: none;
  }
}

@media only screen and (max-height: 28.125em) {
  .navigation__label {
    top: 3%;
    right: 3%;
  }
}

.navigation__button {
  background-color: #fff;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  -webkit-box-shadow: 0 0rem 5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0rem 5rem rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 37.5em) {
  .navigation__button {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    height: 8vh;
    width: 1.2rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-height: 28.125em) {
  .navigation__button {
    width: 3rem;
    height: 3rem;
  }
}

.navigation__line {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 47.5%;
  width: 1.2rem;
  height: 5%;
  background-color: #0023ff;
  border-radius: 5px;
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
}

@media only screen and (max-height: 28.125em) {
  .navigation__line {
    height: 2px;
  }
}

.navigation__line::before, .navigation__line::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #0023ff;
  position: absolute;
  border-radius: 5px;
}

.navigation__line::before {
  bottom: 5px;
  -webkit-transition: top .1s .1s, opacity 0s .1s;
  transition: top .1s .1s, opacity 0s .1s;
}

.navigation__line::after {
  top: 5px;
  -webkit-transition: top .1s .1s, -webkit-transform .1s;
  transition: top .1s .1s, -webkit-transform .1s;
  transition: transform .1s, top .1s .1s;
  transition: transform .1s, top .1s .1s, -webkit-transform .1s;
}

@media only screen and (max-width: 37.5em) {
  .navigation__line {
    height: 2px;
  }
}

.navigation__checkbox:checked + .navigation__label + .navigation {
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}

.navigation__checkbox:checked + .navigation__label .navigation__line {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform .15s .15s;
  transition: -webkit-transform .15s .15s;
  transition: transform .15s .15s;
  transition: transform .15s .15s, -webkit-transform .15s .15s;
}

.navigation__checkbox:checked + .navigation__label .navigation__line::before, .navigation__checkbox:checked + .navigation__label .navigation__line::after {
  top: 0;
  -webkit-transition: top .15s, -webkit-transform .15s .15s;
  transition: top .15s, -webkit-transform .15s .15s;
  transition: top .15s, transform .15s .15s;
  transition: top .15s, transform .15s .15s, -webkit-transform .15s .15s;
}

.navigation__checkbox:checked + .navigation__label .navigation__line::before {
  opacity: 0;
}

.navigation__checkbox:checked + .navigation__label .navigation__line::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.navigation__checkbox:checked ~ .navigation {
  width: 25rem;
}

@media only screen and (max-width: 37.5em) {
  .navigation__checkbox:checked ~ .navigation {
    width: 100vw;
  }
}

.navigation__checkbox:checked ~ .navigation > .navigation__content {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s .4s;
  transition: all .3s .4s;
}

.navigation__showmore, .navigation__showmore:link, .navigation__showmore:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #0023ff;
  position: relative;
  font-size: 1.4rem;
  font-weight: 700;
}

@media only screen and (max-height: 28.125em) {
  .navigation__showmore, .navigation__showmore:link, .navigation__showmore:visited {
    font-size: 3vh;
  }
}

.navigation__showmore::after, .navigation__showmore:link::after, .navigation__showmore:visited::after {
  content: "";
  display: block;
  height: 2px;
  width: 70%;
  position: absolute;
  bottom: -1rem;
  left: 15%;
  background-color: #0023ff;
}

.navigation__showmore:hover::after, .navigation__showmore:link:hover::after, .navigation__showmore:visited:hover::after {
  width: 100%;
  left: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@media only screen and (max-width: 37.5em) {
  .navigation__showmore, .navigation__showmore:link, .navigation__showmore:visited {
    font-size: 5vw;
  }
}

.navigation__categories {
  list-style: none;
  width: 80%;
}

.navigation__element {
  margin: 2rem 0;
}

@media only screen and (max-height: 28.125em) {
  .navigation__element {
    margin: 1rem 0;
  }
}

.navigation__link, .navigation__link:link, .navigation__link:visited {
  text-decoration: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.navigation__link:hover span, .navigation__link:link:hover span, .navigation__link:visited:hover span {
  color: #8e8e8e;
}

.navigation__link:hover svg, .navigation__link:link:hover svg, .navigation__link:visited:hover svg {
  fill: #8e8e8e;
}

.navigation__link-text {
  display: block;
  width: 60%;
  text-align: right;
  text-transform: uppercase;
  color: #C1C1C1;
  font-weight: 700;
  font-size: 1.5rem;
  -webkit-transition: color .3s;
  transition: color .3s;
}

@media only screen and (max-width: 37.5em) {
  .navigation__link-text {
    font-size: 6vw;
  }
}

@media only screen and (max-height: 28.125em) {
  .navigation__link-text {
    font-size: 3vh;
  }
}

.navigation__link-icon {
  width: 5rem;
  height: 5rem;
  fill: #C1C1C1;
  -webkit-transition: fill .3s;
  transition: fill .3s;
}

@media only screen and (max-height: 28.125em) {
  .navigation__link-icon {
    width: 10vh;
    height: 10vh;
  }
}

.sidebar {
  height: 100%;
  -webkit-box-shadow: 0.1rem 0 5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.1rem 0 5rem rgba(0, 0, 0, 0.1);
  /* Flexbox Settings */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__logo-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  margin-top: 15%;
}

.sidebar__logo {
  width: 3rem;
}

.sidebar__buttons-group {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sidebar__bottom {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sidebar__bottom svg {
  margin-bottom: 350%;
}

@media only screen and (min-width: 37.5em) {
  .sidebar__icon--center {
    display: none;
  }
}

@media only screen and (max-width: 37.5em) {
  .sidebar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sidebar__logo-box {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    margin-top: 0;
    margin-left: 2rem;
  }
  .sidebar__buttons-group {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .sidebar__bottom {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sidebar__bottom svg {
    display: none;
  }
}

@media only screen and (min-width: 37.5em) {
  .sidebar .navigation__label {
    display: none;
  }
}

.main-radio--home:checked ~ .sidebar-container [for="home-radio"] svg {
  fill: #0023ff;
}

.main-radio--products:checked ~ .sidebar-container [for="products-radio"] svg {
  fill: #0023ff;
}

.main-radio--search:checked ~ .sidebar-container [for="search-radio"] svg {
  fill: #0023ff;
}

.home {
  position: relative;
  height: 100%;
  background-image: url(/img/main-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.home__bg-heading {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 5%;
  left: 5%;
}

.home__content-box {
  padding-top: 5%;
  position: relative;
  z-index: 1;
  text-align: center;
  line-height: 1;
}

@media only screen and (max-width: 21.875em) {
  .home__content-box h1 {
    font-size: 10rem;
  }
}

.home__content-box h2 {
  margin: 2rem 0;
}

.home__content-box .btn {
  position: relative;
  top: 1.5rem;
}

.home__slider-box {
  width: 15rem;
  position: absolute;
  bottom: 5%;
  right: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* INDIVIDUAL GRID CELLS SECTION */
}

.products__container {
  background-color: rgba(135, 206, 235, 0.3);
  width: 70%;
  height: 85%;
  position: relative;
  bottom: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products__grid {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 50%;
  margin: 5% 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 2.5rem;
}

.products__grid div {
  background-color: orangered;
}

@media only screen and (max-height: 43.75em) {
  .products__grid {
    -ms-grid-columns: (min-content)[auto-fit];
        grid-template-columns: repeat(auto-fit, -webkit-min-content);
        grid-template-columns: repeat(auto-fit, min-content);
  }
}

.products__white-table {
  grid-column: span 2;
}

.products__bottom {
  text-align: center;
}

.products__btn, .products__btn:link, .products__btn:visited {
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  color: #0023ff;
  font-weight: 700;
  font-size: 1.3rem;
}

.search {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 37.5em) {
  .main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sidebar-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.1%;
          flex: 0 0 6.1%;
  height: 100vh;
}

@media only screen and (max-width: 37.5em) {
  .sidebar-container {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    height: 8vh;
  }
}

.container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100vh;
}

@media only screen and (max-width: 37.5em) {
  .container {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    height: 92vh;
  }
}

section.home,
section.products {
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.home,
.products {
  -webkit-transition: opacity .4s, visibility .4s, -webkit-transform .4s;
  transition: opacity .4s, visibility .4s, -webkit-transform .4s;
  transition: opacity .4s, visibility .4s, transform .4s;
  transition: opacity .4s, visibility .4s, transform .4s, -webkit-transform .4s;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.search {
  -webkit-transform: scale(2);
          transform: scale(2);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

/* GENERAL NAVIGATION RADIOBUTTONS HACK */
.main-radio--home:checked ~ main .home,
.main-radio--products:checked ~ main .products {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  height: 100%;
}

.main-radio--home:active ~ main .home {
  -webkit-transition: opacity .4s, visibility .4s, -webkit-transform .4s;
  transition: opacity .4s, visibility .4s, -webkit-transform .4s;
  transition: opacity .4s, visibility .4s, transform .4s;
  transition: opacity .4s, visibility .4s, transform .4s, -webkit-transform .4s;
}

.main-radio--products:active ~ main .products {
  -webkit-transition: opacity .4s, visibility .4s, -webkit-transform .4s;
  transition: opacity .4s, visibility .4s, -webkit-transform .4s;
  transition: opacity .4s, visibility .4s, transform .4s;
  transition: opacity .4s, visibility .4s, transform .4s, -webkit-transform .4s;
}

.main-radio--search:checked ~ main .search {
  -webkit-transform: scale(1);
          transform: scale(1);
  visibility: visible;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */