.sidebar {
    position: relative;
    z-index: 3;
    height: 100%;
    box-shadow: .1rem 0 5rem rgba(0, 0, 0, .1);

    /* Flexbox Settings */
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo-box {
        flex: 0 0 10%;
        margin-top: 15%;
    }

    &__logo {
        width: 3rem;
    }

    &__buttons-group {
        flex: 0 0 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__bottom {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        svg {
            margin-bottom: 350%;
        }
    }

    .icon {
        min-width: 2rem;
        min-height: 2rem;
        width: 1.5vw;
        height: 1.5vw;

        @include respond(phone) {
            width: 3vh;
            height: 3vh;
        }
    }

    &__icon {

        &--center {
            @media only screen and (min-width: 37.5em) {
                display: none;
            }
        }
    }

    @include respond(phone) {
        flex-direction: row;

        &__logo-box {
            flex: auto;
            margin-top: 0;
            margin-left: 2rem;
        }

        &__buttons-group {
            flex: auto;
            flex-direction: row;
            justify-content: space-evenly;
        }

        &__bottom {
            flex: auto;
            flex-direction: row;
            align-items: center;

            svg {
                display: none;
            }
        }
    }

    @media only screen and (min-width: 37.5em) {
        
        .navigation__label {
            display: none;
        }
    }
}

.main-radio {

    &--home:checked {
        
        & ~ .sidebar-container [for="home-radio"] svg {
            fill: $color-primary;
        }
    }

    &--products:checked {
        
        & ~ .sidebar-container [for="products-radio"] svg {
            fill: $color-primary;
        }
    }

    &--search:checked {
        
        & ~ .sidebar-container [for="search-radio"] svg {
            fill: $color-primary;
        }
    }
}