.icon {
    display: block;
    width: 2rem;
    height: 2rem;
    fill: $color-gray-light-1;
    cursor: pointer;
    transition: fill .5s;

    &:not(.icon--pink):hover {
        fill: $color-primary;
    }

    &--pink {
        fill: $color-pink;
    }

    &--blue {
        fill: $color-primary;
    }
}