.search {

    &__textbox {
        height: 80%;
        width: 90%;
        outline: none;
        border: none;
        font-family: inherit;
        text-transform: uppercase;
        font-size: 7rem;
        font-weight: 300;
        color: #000;
        border-bottom: 2px solid rgba($color-gray-light-3, .6);

        @media only screen and (max-width: 24em) {
            font-size: 15vw;
        }

        @include respond(phone) {
            width: 100%;
        }
    }

    &__close-btn {
        position: absolute;
        width: 2.5rem;
        height: 2px;
        background-color: rgba($color-gray-light-3, .6);
        right: 10%;
        top: 18%;
        transform: rotate(45deg);
        cursor: pointer;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba($color-gray-light-3, .6);
            transform: rotate(-90deg);
            cursor: pointer;
        }

        @include respond(tab-land) {
            top: 15%;
        }

        @include respond(tab-port) {
            top: 13%;
        }

        @include respond(phone) {
            right: 0%;
        }
    }

    &__description {
        display: block;
        font-size: 2rem;
        color: rgba($color-gray-light-3, .6);
    }

    &__single-result {
        display: flex;
        align-items: center;
        cursor: pointer;
/* 
        &:not(:first-child) {
            margin-left: 6rem;
        } */
    }

    &__img {
        max-height: 10rem;
    }

    &__result-name {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 4rem;
        margin-left: 1rem;

        @media only screen and (max-width: 44.0625em) {
            font-size: 5vw;
        }
    }
}