.heading-exaggerated {
    text-transform: uppercase;
    font-size: 20vw;
    color: rgba($color-gray-light-1, .25);
    line-height: 1;
}

.heading-huge {
    text-transform: uppercase;
    font-size: 15rem;
    font-weight: 100;
}

.heading-2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.6rem;
}