.main-content {
    display: flex;
    @include respond(phone) {
        flex-direction: column;
    }
}

.sidebar-container {
    flex: 0 0 6.1%;
    height: 100vh;
    min-height: 5.2rem;
    min-width: 6rem;

    @include respond(phone) {
        flex: auto;
        height: 8vh;
        min-width: none;
    }
}

.container {
    flex: 1;
    height: 100vh;

    @include respond(phone) {
        flex: auto;
        height: 92vh;
    }
}

section.home,
section.products {
    opacity: 0;
    visibility: hidden;
    height: 0;
}

.home,
.products {
    transition: opacity .4s, visibility .4s, transform .4s;
    transform: scale(.5);
}

.search {
    transform: scale(2);
    visibility: hidden;
    opacity: 0;
    transition: all .4s;
}

.item {
    opacity: 0;
    visibility: hidden;
    height: 0;

    @media only screen and (min-width: 37.5em) {
        &__picture {
            transform: translateX(-120%);
        }

        &__info {
            opacity: 0;
            visibility: hidden;
        }

        &__recommended {
            transform: translateY(100%);
        }

        & > &__grid > * {
            transition: all .4s;
        }

        &:target > &__grid > * {
            transform: translate(0, 0);
            visibility: visible;
            opacity: 1;
        }
    }

    &:target ~ section {
        visibility: hidden !important;
        opacity: 0 !important;
        height: 0 !important;
    }

    &:target {
        height: 100%;
        visibility: visible;
        opacity: 1;
    }
}

/* GENERAL NAVIGATION RADIOBUTTONS HACK */

.main-radio {

    &--home:checked ~ main .home,
    &--products:checked ~ main .products {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        height: 100%;
    }

    &--home:active ~ main .home {
        transition: opacity .4s, visibility .4s, transform .4s
    }

    &--products:active ~ main .products {
        transition: opacity .4s, visibility .4s, transform .4s;
    }

    &--search:checked ~ main .search {
        transform: scale(1);
        visibility: visible;
        opacity: 1;
    }
}